.how-li {
  list-style: none;
  padding-left: 0;
}

.how-list {
  list-style: none;
  padding-left: 0;
  margin-top: 40px;
  margin-left: 20px;
}

.how-container {
  width: 320px;
  height: 1480px;
  background-color: #fff5f6;
  margin-right: auto;
  margin-left: auto;
  margin-top: 360px;
}

.title-container {
  width: 200px;
  height: 112px;
  padding: 1px;
  margin-right: auto;
  margin-left: auto;
}

.how-title-t {
  font-family: Titan One;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 50px;
  color: $secondary-color;
}

.how-title-h {
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-align: center;
  color: $primary-color;
}

.how-text-f {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #000000;
  width: 220px;
  height: 79px;
  margin-left: 20px;
}

.how-text-c {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #907e82;
  width: 220px;
  margin-left: 20px;
  margin-top: 33px;
}

.how-num {
  font-family: Titan One;
  font-size: 36px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-align: left;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 16px;
}

.how-text-num {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: #000000;
  margin-bottom: 32px;
  margin-top: 10px;
  width: 230px;
}

.how-box {
  position: absolute;
  display: flex;
}

.how-box:nth-child(2) {
  top: 3570px;
}

.how-imagen {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.how-imag-section {
  margin-left: 20px;
}

.how-button {
  margin-top: 240px;
  margin-left: 20px;
  width: 176px;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  border: none;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d41443;
}

.how-svg-button {
  margin-left: 14px;
  height: 8px;
  width: 8px;
}

.how-svg-canasta1 {
  display: block;
  height: 18px;
  width: 28px;
}

.how-svg-canasta2 {
  height: 33px;
  width: 29px;
}

.how-svg-frutas {
  height: 50px;
  width: 49px;
}

.how-svg-corazon {
  height: 50px;
  width: 49px;
}
