$primary-color: rgba(212, 20, 67, 1);
$secondary-color: rgba(255, 165, 186, 1);
$terciary-color: #e5e5e5;
$fourth-color: rgba(194, 226, 151, 1);
$fifth-color: rgba(240, 209, 165, 1);
$sixth-color: rgba(144, 126, 130, 1);
$seventh-color: rgba(225, 121, 146, 1);
$eighth-color: rgba(255, 184, 202, 1);
$ninth-color: rgba(255, 255, 255, 1);
$tenth-color: #fff5f6;
$eleventh-color: rgba(0, 0, 0, 1);
$twelfth-color: rgba(250, 250, 250, 1);
$thirteenth-color: rgba(217, 217, 217, 1);
