<footer class="footer">
  <div class="container"></div>
  <button class="footer__button--location" type="button">
    <p>Locations</p>
    <svg
      class="icon--location"
      width="8"
      height="8"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use href="./images/icons.svg#icon-mayor"></use>
    </svg>
  </button>
  <button class="footer__button--franchise" type="button">
    <p>Franchise</p>
    <svg class="how-svg-button">
      <use href="./images/icons.svg#icon-flecha-how"></use>
    </svg>
  </button>
  <p class="footer__description">HOMEMADE ICE CREAM MADE</p>
  <p class="footer__Whit">WHIT PASSION</p>
  </div>
</footer>
