<footer class="footer">
  <div class="container footer__container">
    <ul class="list--butoons">
      <li>
        <button class="footer__button--location" type="button">
          <p>Locations</p>
          <svg
            class="icon--location"
            width="8"
            height="8"
            xmlns="http://www.w3.org/2000/svg"
          >
            <use href="./images/icons.svg#icon-mayor"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="footer__button--franchise" type="button">
          <p>Franchise</p>
          <svg class="how-svg-button">
            <use href="./images/icons.svg#icon-flecha-how"></use>
          </svg>
        </button>
      </li>
    </ul>
    <ul class="footer__list-items">
      <li>
        <p class="footer__description">HOMEMADE ICE CREAM MADE</p>
      </li>
      <li>
        <p class="footer__Whit">WHIT PASSION</p>
      </li>
      <li>
        <ul class="footer__list">
          <li class="fotter__social-item">
            <a href="" class="link__social">
              <svg
                class="footer__solcial-icon"
                width="20"
                height="20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="fotter__social-item">
            <a href="" class="link__social">
              <svg
                class="footer__solcial-icon"
                width="20"
                height="20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="fotter__social-item">
            <a href="" class="link__social">
              <svg
                class="footer__solcial-icon"
                width="20"
                height="20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="tel:+61(0) 383 766 268"
          ><p class="footer__link">
            Feel free to contact
            <span class="footer__telephone">+61 (0) 383 766 284</span>
          </p></a
        >
      </li>
    </ul>
  </div>
  <div class="fotter__copyrights">
    <p class="Footer__paragraph">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
