<section>
  <header id="header">
    <div class="container container__header">
      <div class="header-nav">
        <a href="/src/index.html" class="header-nav__link">
          <svg class="header-nav__icon" width="199" height="50">
            <use href="/src/images/icons.svg#icon-icecream"></use>
          </svg>
        </a>
        <button
          title="open"
          class="menu-toggle js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
            <use href="/src/images/icons.svg#icon-Burger"></use>
          </svg>
        </button>
      </div>
      <a href="" class="header-nav__sootasty"></a>
      <a class="header-nav__image" href="#productos">
        <picture>
          <img
            src="/src/images/icecream.png"
            alt="icecream_of_header"
            class="imagen"
        /></picture>
      </a>
      <div class="text">
        <div>
          <h1 class="text__tittle">
            ice cream
            <br />
            made width
            <br />
            <span class="text__passion">passion</span>
          </h1>
          <div class="hold-btn">
            <button class="text__btn_1">
              <a href="#productos" class="text__btn_1-link">Products</a>
            </button>
            <button class="text__btn_2">
              <a href="#how-its-made" class="text__btn_2-link"
                >How it's made?</a
              >
            </button>
          </div>
        </div>
        <div class="counter-sale">
          <ul class="counter-sale__list">
            <li class="counter-sale__item">
              16
              <br />
              <span class="counter-sale__span">cafes</span>
            </li>
            <li class="counter-sale__item counter-sale__item--size">
              23
              <br />
              <span class="counter-sale__span">food trucks</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="big-eco">
        <a href="" class="big-eco__image"></a>
        <div class="product-milk">
          <p class="product-milk__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="btn-big-eco">
            <a href="">
              <svg class="btn-big-eco__icon" width="6" height="6">
                <use href="/src/images/icons.svg#icon-arrow-right"></use>
              </svg>
            </a>
          </button>
        </div>
      </div>
    </div>
  </header>
</section>
