<section>
  <header id="header">
    <div class="container container__header">
      <div class="header-nav">
        <a href="/src/index.html" class="header-nav__link">
          <svg class="header-nav__icon" width="199" height="50">
            <use href="/src/images/icons.svg#icon-icecream"></use>
          </svg>
        </a>
        <div class="menu-change">
          <button
            title="open"
            class="menu-toggle js-open-menu"
            aria-expanded="false"
            aria-controls="mobile-menu"
          >
            <svg width="30px" height="12px" xmlns="http://www.w3.org/2000/svg">
              <use href="/src/images/icons.svg#icon-Burger"></use>
            </svg>
          </button>
        </div>
      </div>
      <a href="#productos" class="header-nav__image">
        <img src="/src/images/icecream.png" alt="icecream_of_header" />
      </a>
      <div class="text">
        <div>
          <h1 class="text__tittle">
            ice cream
            <br />
            made width
            <br />
            <span class="text__passion">passion</span>
          </h1>
          <div class="hold-btn">
            <button class="text__btn_1">
              <a href="#productos" class="text__btn_1-link">Products</a>
            </button>
            <button class="text__btn_2">
              <a href="#how-its-made" class="text__btn_2-link"
                >How it's made?</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>
