<section id="how" class="how-its-made">

    <div class="how-container">
    
        <div class="title-container">
            <h2 class="how-title-t">TRADITION AND LOVE</h2>
            <h1 class="how-title-h">HOW IT'S MADE?</h1>
        </div>
            <div class="how-diretion-r">
                <div class="how-ima-conte">
                    <img
                    class="how-imagen"
                    src="./images/home-pic4 1 (1).png"
                    alt=""
                    width="280px"/>
                </div>
                <div class="how-direction-c">
                    <div class="how-text-f">
                        <p>
                        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                        cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
                        fringilla.
                        </p>
                    </div>
                    <div class="how-box-c">
                        <p class="how-text-c">
                            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
                            Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
                            suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                            tincidunt. <br />
                            <br />
                            Aliquam erat volutpat. Aenean accumsan.
                        </p>
                    </div>
                    <div class="how-box-ima">
                        <img class="how-imag-section" src="./images/section.png" alt="" />
                    </div>
                    <button class="how-button" type="button">
                    <p>Read more</p>
                    <svg class="how-svg-button">
                        <use href="./images/icons.svg#icon-flecha-how"></use>
                    </svg>
                    </button>
                </div>
            </div>
        <ul class="how-list how-direcition">
        <li class="how-li how-butitem">
            
                <svg class="how-svg-canasta1">
                <use href="./images/icons.svg#icon-canasta-1"></use>
                </svg>
                <svg class="how-svg-canasta2">
                <use href="./images/icons.svg#icon-canasta-2"></use>
                </svg>
                <h2 class="how-num">721</h2>
            <div class="how-conte-list">
                <p class="how-text-num">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </div>
        </li>
        <li class="how-li how-butitem">
            
                <svg class="how-svg-frutas">
                <use href="./images/icons.svg#icon-canasta-frutas"></use>
                </svg>
                <h2 class="how-num">16KG</h2>
            <div class="how-conte-list">
                <p class="how-text-num">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </div>
        </li>
        <li class="how-li how-butitem">
                <svg class="how-svg-corazon">
                <use href="./images/icons.svg#icon-corazon-1"></use>
                </svg>
                <h2 class="how-num">84</h2>
             <div class="how-conte-list">
                <p class="how-text-num">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </div>
        </li>
        </ul>

    </div>
</section>
