<div class="js-menu-container" id="mobile-menu">
  <button title="menu" class="menu-toggle js-close-menu"></button>
  <div>
    <ul class="mobile-menu">
      <li><a href="" class="mobile-menu__link">Home</a></li>
      <li>
        <a href="" class="mobile-menu__link">Portafolio</a>
      </li>
      <li><a href="" class="mobile-menu__link">Contactos</a></li>
    </ul>
  </div>
  <div>
    <ul class="list Mobile-menu_contacts">
      <li class="mobile-menu_tel">
        <a class="contacts__link" href="tel:+525555296000">
          +38 096 111 11 11</a
        >
      </li>
      <li class="mobile-menu_mail">
        <a class="contacts__link" href="mailto:info@devstudio.com">
          info@devstudio.com</a
        >
      </li>
    </ul>
    <ul class="list mobile-menu_socials">
      <li class="mobilie-menu__box">
        <a href="" class="mobile-menu__footer">Instagram</a>
      </li>
      <li class="mobilie-menu__box">
        <a href="" class="mobile-menu__footer">Twitter</a>
      </li>
      <li class="mobilie-menu__box">
        <a href="" class="mobile-menu__footer">Facebook</a>
      </li>
      <li class="mobilie-menu__box">
        <a href="" class="mobile-menu__footer">Linkedin</a>
      </li>
    </ul>
  </div>
</div>
