<section class="products">
    <div class="cards container">
        <div class="section-title">
            <p class="plus-section">100% natural</p>
            <h2 class="name-section">products</h2>
        </div>
        <div class="list-card">
            <ul class="list img-pink ">
                <li class="image_product"><img class="image"src="/src/images/ice_cream.png" alt="ice_cream" width="325px" height="325px">
                    <ul class="products-description">
                        <div class="list-description">
                            <h3 class="product--name">ice cream</h3>
                            <p class="point">...</p>
                            <p class="product--description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                            <button class="btn">
                                <svg class="icon-btn" width="13" height="13">
                                    <use href="/src/images/icons.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </ul>
                </li> 
            </ul>
            <ul class="list  img-brown">
                <li class="image_product"><img class="image"src="/src/images/ice_coffee.png" alt="ice_cream" width="325px" height="325px">
                    <ul class="products-description">
                        <div class="list-description">
                            <h3 class="product--name">ice cream</h3>
                            <p class="point">...</p>
                            <p class="product--description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                            <button class="btn">
                                <svg class="icon-btn" width="13" height="13">
                                    <use href="/src/images/icons.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </ul>
                </li> 
            </ul>
            <ul class="list  img-green ">
                <li class="image_product"><img class="image"src="/src/images/milkshakes.png" alt="ice_cream" width="325px" height="325px">
                    <ul class="products-description">
                        <div class="list-description">
                            <h3 class="product--name">ice cream</h3>
                            <p class="point">...</p>
                            <p class="product--description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                            <button class="btn">
                                <svg class="icon-btn" width="13" height="13">
                                    <use href="/src/images/icons.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </ul>
                </li> 
            </ul>
        </div>
    </div>
</section>