<div class="container">
  <div class="wrapper">
    <div class="wrapper__primary">
      <img
        class="wrapper__image"
        src="./images/home-pic5(3).png"
        alt="Imagenes de Helados"
      />
    </div>
    <div class="wrapper__second">
      <img
        class="wrapper__image"
        src="./images/home-pic54.png"
        alt="Imagenes de Helados"
      />
      <img
        class="wrapper__image"
        src="./images/home-pic5(2).png"
        alt="Imagenes de Helados"
      />
    </div>
    <div class="wrapper__third">
      <img
        class="wrapper__image"
        src="./images/home-pic5.png"
        alt="Imagenes de Helados"
      />
      <img
        class="wrapper__image"
        src="./images/home-pic57.png"
        alt="Imagenes de Helados"
      />
    </div>
    <div class="wrapper__fourth">
      <img
        class="wrapper__image"
        src="./images/home-pic5(4).png"
        alt="Imagenes de Helados"
      />
      <img
        class="wrapper__image"
        src="./images/home-pic58.png"
        alt="Imagenes de Helados"
      />
    </div>
    <div class="wrapper__fifth">
      <img
        class="wrapper__image"
        src="./images/home-pic510.png"
        alt="Imagenes de Helados"
      />
      <img
        class="wrapper__image"
        src="./images/home-pic512.png"
        alt="Imagenes de Helados"
      />
    </div>
    <div class="wrapper__sixth">
      <img
        class="wrapper__image"
        src="./images/home-pic51.png"
        alt="Imagenes de Helados"
      />
    </div>
  </div>
  <div class="rewiews-card">
    <ul class="rewiews-card__container">
      <li class="rewiews-card__item">
        <img
          class="rewiews-card__image"
          src="./images/testimonials11.png"
          alt="Cliente"
        />
        <div class="rewiews-card__description">
          <svg class="rewiews-card__svg">
            <use href="./images/icons.svg#icon-untitled"></use>
          </svg>
          <p class="rewiews-card__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="rewiews-card__container-svg-1">
          <svg class="rewiews-card__svg-circle-1">
            <use href="./images/icons.svg#icon-Elipse-1"></use>
          </svg>
          <svg class="rewiews-card__svg-circle-1">
            <use href="./images/icons.svg#icon-Elipse-1"></use>
          </svg>
          <svg class="rewiews-card__svg-circle-1">
            <use href="./images/icons.svg#icon-Elipse-1"></use>
          </svg>
        </div>
        <p class="rewiews-card__title">Emily, Los Angeles</p>
        <div class="rewiews-card__container-svg-2">
          <svg class="rewiews-card__svg-house">
            <use href="./images/icons.svg#icon-casa"></use>
          </svg>
          <svg class="rewiews-card__svg-circle-2">
            <use href="./images/icons.svg#icon-Elipse-1"></use>
          </svg>
          <svg class="rewiews-card__svg-circle-2">
            <use href="./images/icons.svg#icon-Elipse-1"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</div>
